<!Doctype>
<html>
<head>
  <style>
    .fishes
    {
      position: relative;
      top: 0;
      left: 0;
    }
    .fish
    {
      position: absolute;
      top: 60px;
      left: 80px;
    }
  </style>
</head>
<body>
  <div style="position: relative; left: 0; top: 0;">
    <img src="https://img.freepik.com/free-psd/signed-document-mock-up_1318-74.jpg?t=st=1658487974~exp=1658488574~hmac=f036e24bdb332553b79d27c1ddcb81602e47f59fdd82da59602ef744b356fa34&w=826" class="fishes" style="height: 400px; width:400px;"/>
    <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png" class="fish" style="height: 400px; width:400px;"/>
  </div>
</body>
</html>